@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./variables.css');
@import url('./utilities.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}


/* Footer */

.footer {
    display: flex;
    padding: var(--spacing-10) var(--spacing-12);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-7);
}

.logo_and_tagline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.logo_container {
    display: flex;
    width: 332px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-6);
}

.logo_contain {
    display: flex;
    align-items: center;
    gap: 10.667px;
}

.logo_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo_text {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
}

.logo_tagline {
    color: var(--neutral-600);
    font-size: 18.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.667px; 
}

.contact_info_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2);
    align-self: stretch;
}

.contact_info_item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-0);
}

.contact_detail {
    color: var(--black);
/* Typography/Buttons_CTAs/Secondary */
    font-size: var(--text-small);
    font-style: normal;
    font-weight: 500;
}

.contact_info_text {
    color: var(--neutral-600);
/* Typography/Body/Small */
    font-size: var(--text-small);
    font-style: normal;
    font-weight: 400;
}

.social_media_icons_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-3);
}

.social_media_icon {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

.product_links {
    display: flex;
    width: 223px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2);
}

.efc-nav-link {
    color: var(--black);
/* Typography/Headings/H6 */
    font-size: var(--text-h6);
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2);
    align-self: stretch;
}

.links a {
    color: var(--black);
/* Typography/Body/Small */
    font-size: var(--text-small);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
}

.company_links {
    display: flex;
    width: 188px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2);
}

.address_links {
    padding: var(--spacing-7) 0;
    border-top: 1.4px solid var(--neutral-600);
    border-bottom: 1.4px solid var(--neutral-600);
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-6);
    align-self: stretch;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2);
    flex: 1 0 0;
}

.block_heading {
    color: var(--black);
    font-size: var(--text-h6);
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;
}

.address p {
    color: var(--neutral-600);
    font-size: var(--text-small);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
}

.copyright_and_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.copyright_and_links p {
    color: var(--neutral-600);
    font-size: var(--text-caption);
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
}

.social_media_links {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.social_media_group {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-2);
}

.logo_image {
    width: 36px;
    height: 36px;
    aspect-ratio: 1/1;
    background: url("../assets/logo.svg") white 50% / cover no-repeat;
}

.last_icon {
    width: 80.4px;
    height: 36.02px;
    aspect-ratio: 80.40/36.02;
    background: url("../assets/last_icon.png") white 50% / cover no-repeat;
}