<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services Section</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=DM+Sans:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/global.css" />
  </head>
  <body>
    <div class="services-dropdown-wrapper">
      <div class="services-list">
        <ul>
          <li>
            <a href="#"
              ><img
                src="../assets/list-bullet.svg"
                alt="list-bullet"
                class="list-bullet"
              />
              <span class="service-name">Artificial Intelligence</span>
              <img
                src="../assets/arrow-right-green.svg"
                alt="arrow-right"
                class="arrow-right"
              />
            </a>
          </li>
          <li>
            <a href="../fidic.html"
              ><img
                src="../assets/list-bullet.svg"
                alt="list-bullet"
                class="list-bullet"
              />
              <span class="service-name">FIDIC Contract Administration</span>
              <img
                src="../assets/arrow-right-green.svg"
                alt="arrow-right"
                class="arrow-right"
              />
            </a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../assets/list-bullet.svg"
                alt="list-bullet"
                class="list-bullet"
              />
              <span class="service-name"
                >Development &amp; Management Consultancy</span
              >
              <img
                src="../assets/arrow-right-green.svg"
                alt="arrow-right"
                class="arrow-right"
              />
            </a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../assets/list-bullet.svg"
                alt="list-bullet"
                class="list-bullet"
              />
              <span class="service-name"
                >Digital Marketing and Communications</span
              >
              <img
                src="../assets/arrow-right-green.svg"
                alt="arrow-right"
                class="arrow-right"
              />
            </a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../assets/list-bullet.svg"
                alt="list-bullet"
                class="list-bullet"
              />
              <span class="service-name"
                >Engineering, Procurement &amp; Construction (EPC)</span
              >
              <img
                src="../assets/arrow-right-green.svg"
                alt="arrow-right"
                class="arrow-right"
              />
            </a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../assets/list-bullet.svg"
                alt="list-bullet"
                class="list-bullet"
              />
              <span class="service-name">ICT &amp; Digital Transformation</span>
              <img
                src="../assets/arrow-right-green.svg"
                alt="arrow-right"
                class="arrow-right"
              />
            </a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../assets/list-bullet.svg"
                alt="list-bullet"
                class="list-bullet"
              />
              <span class="service-name">Oil, Gas &amp; Energy Systems</span>
              <img
                src="../assets/arrow-right-green.svg"
                alt="arrow-right"
                class="arrow-right"
              />
            </a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../assets/list-bullet.svg"
                alt="list-bullet"
                class="list-bullet"
              />
              <span class="service-name">Sports Management Systems</span>
              <img
                src="../assets/arrow-right-green.svg"
                alt="arrow-right"
                class="arrow-right"
              />
            </a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../assets/list-bullet.svg"
                alt="list-bullet"
                class="list-bullet"
              />
              <span class="service-name"
                >Agribusiness &amp; Agripreneurship</span
              >
              <img
                src="../assets/arrow-right-green.svg"
                alt="arrow-right"
                class="arrow-right"
              />
            </a>
          </li>
        </ul>
        <a href="#" class="view-all">View All Services</a>
      </div>
      <div class="cards-panel">
        <div class="card">
          <img
            class="card-img"
            src="https://images.unsplash.com/photo-1556761175-4b46a572b786?w=600&auto=format&fit=crop"
            alt="Team meeting"
          />
          <div class="card-body">
            <div class="card-title">
              The ERP Imperative: Why Legacy Systems Are Holding You Back
            </div>
            <p class="card-excerpt">
              Organizations clinging to outdated ERP systems face mounting
              inefficiencies. Modern platforms like WorkMe offer streamlined
              solutions for growing businesses.
            </p>
            <a href="#" class="learn-more">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img"
            src="https://images.unsplash.com/photo-1551836022-d5d88e9218df?w=600&auto=format&fit=crop"
            alt="Professional with laptop"
          />
          <div class="card-body">
            <div class="card-title">
              The ERP Imperative: Why Legacy Systems Are Holding You Back
            </div>
            <p class="card-excerpt">
              Organizations clinging to outdated ERP systems face mounting
              inefficiencies. Modern platforms like WorkMe offer streamlined
              solutions for growing businesses.
            </p>
            <a href="#" class="learn-more">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
